@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');

body{
    background-color: rgb(84, 22, 255);

}

html, body{
    margin: 0%;
    padding: 0%;

}

p.caption{
    font-size: small;
    font-style: italic;
    color: rgba(255, 2, 2, 0.979);
}

p.href{
    font-size: small;
    font-style: italic;
    color: rgb(255, 0, 0);
}

p.target{
    font-size: small;
    font-style: italic;
    color: rgb(255, 0, 0);
}

a{
    color: rgb(255, 0, 0);
    text-decoration: none;
}
header{
    text-align: center;
    background-color: rgb(238, 255, 0);
    padding: 20px;
}

header h3{ 
    font-family: "Rubik Glitch", system-ui;
    font-weight: 400;
    font-size: xx-large;
    font-style: normal;
    margin: 10px 0 20px 0;
    color: rgb(255, 0, 0);

    
}

main{
    text-align: center;
    font-family: "Rubik Glitch", system-ui;
    color: rgb(229, 255, 0);  
    margin: 20px;
    font-size: larger;
}

ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family:"Rubik Glitch", system-ui;
    font-size: xx-large;
}

main h2, h3, h4, h5, h6, h7 {
    font-family: "Rubik Glitch", system-ui;
    font-weight: 400;
    font-style: light;
    font-size: xx-large; 
    margin: 20px 0 20px 0;
    color: rgb(251, 255, 0);
}

footer{
    text-align: center;
    background-color: rgb(238, 255, 0);
    padding: 10px;
    font-size: large;
    color: rgb(255, 0, 0);
    font-style: italic;
}
body{
    background-image: url("./foto/fono-paveikslas2.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}